.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  height: 130px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid var(--text-primary);
  cursor: pointer;
  text-decoration: none;
  color: var(--text-primary);
  background-color: var(--background-primary);

  &:hover {
    background-color: var(--background-secondary);
  }
}

.pokemon-name {
  padding-top: 10px;
  margin: 0;
  text-transform: capitalize;
}

.pokemon-download {
  color: var(--text-primary);
  padding: 5px;
}

// Dark mode

:global(.dark-mode) {
  .pokemon-card {
    background-color: var(--background-secondary);
    border-color: var(--background-secondary);
    &:hover {
      background-color: var(--background-hover);
    }
  }
  .pokemon-download {
    & input[type='checkbox'] {
      accent-color: var(--background-hover);
    }
  }
}
