.pokemon-card {
  padding: 30px;
  border-radius: 20px;
  border: 2px solid black;

  &--dark-mode {
    background-color: $dark-mode-bg2;
    border-color: $dark-mode-bg2;
  }
}

.pokemon-card__close-button {
  align-self: end;
  width: 20px;
  height: 20px;
  padding: 5px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  &--dark-mode {
    border-color: $dark-mode-bg;
    color: $dark-mode-bg;

    &:hover {
      background-color: $dark-mode-bg2-hover;
    }
  }
}

.pokemon-card__close-button:hover {
  background-color: #ccc;
}

.pokemon-card__name {
  text-transform: capitalize;
}

.pokemon-card__details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-card__images {
  display: flex;
  gap: 10px;
}
