.search-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--background-primary);
  color: var(--text-primary);

  &__input {
    width: 20vw;
    padding: 10px;
    font-size: 16px;
    background-color: var(--background-primary);
    border: 2px solid var(--background-hover);
    border-radius: 5px;
    color: var(--text-primary);
  }
}

:global(.dark-mode) {
  .search-container__input {
    background-color: var(--background-secondary);
  }
}
