// Colors
.light-mode {
  --text-primary: #000000;
  --text-button: #ffffff;
  --background-primary: #ffffff;
  --background-secondary: #ccc;
  --background-hover: #535353;
  --button-primary: #007bff;
  --button-primary-hover: #0056b3;
  --error-button: #dc3545;
  --error-button-hover: #a71d2a;
}

.dark-mode {
  --text-primary: #e2e2e2;
  --text-button: #e2e2e2;
  --background-primary: #212121;
  --background-secondary: #535353;
  --background-hover: #757575;
  --button-primary: #535353;
  --button-primary-hover: #757575;
  --error-button: #6b121b;
  --error-button-hover: #7e1520;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

.main-button {
  padding: 10px 15px;
  font-size: 18px;
  background-color: var(--button-primary);
  color: var(--text-button);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--button-primary-hover);
  }
}
