.flyout {
  margin-top: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flyout__text {
  margin: 0;
  padding: 10px;
  color: var(--text-primary);
}

.flyout__buttons {
  display: flex;

  * {
    transform: scale(0.8);
  }
}
